<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" tabindex="-1">
  <header class="nav-header">
    <div layout-align="center">
      <h1 class="docs-logotype md-heading">Contents</h1>
    </div>
  </header>
  <md-content>
    <ul>
      <li><a href="/">Home</a></li>
      <ul>
        <li>Teste</li>
        <ul>
          <li>Teste 2</li>
          <li>Teste 2</li>
          <ul>
            <li>Teste 5</li>
            <ul>
              <li>Teste 7</li>
              <li>Teste 7</li>
              <li>Teste 7</li>
            </ul>
            <li>Teste 5</li>
            <li>Teste 5</li>
            <ul>
              <li>Teste 6</li>
              <li>Teste 6</li>
              <li>Teste 6</li>
            </ul>
            <li>Teste 5</li>
            <li>Teste 5</li>
            <li>Teste 5</li>
          </ul>
          <li>Teste 2</li>
        </ul>
        <li>Teste</li>
        <li>Teste</li>
        <ul>
          <li>Teste 3</li>
          <li>Teste 3</li>
          <ul>
            <li>Teste 4</li>
            <li>Teste 4</li>
            <li>Teste 4</li>
          </ul>
          <li>Teste 3</li>
        </ul>
        <li>Teste</li>
      </ul>
    </ul>
  </md-content>
</md-sidenav>
<md-button class="md-fab md-mini openMenu" aria-label="Adicionar novo projeto" title="Adicionar novo projeto" ng-click="sm.openMenu()">
  <i class="fa fa-bars"></i>
</md-button>
