<section class="jumbotron">
  <h2>Balance of Project 2</h2>
</section>
<div layout="row" layout-sm="column" layout-align="center center" class="techs background-gray">

  <md-input-container class="md-block">
    <label>Cost Account</label>
    <input ng-model="balance.costAccount">
  </md-input-container>
  <span ng-transclude></span>
  <md-input-container class="md-block">
    <label>ID</label>
    <input ng-model="balance.id">
  </md-input-container>
  <div layout="row" layout-align="end">
    <md-button class="md-raised md-primary" ng-click="project.add()">Alterar</md-button>
  </div>
</div>
